<!--/Banner-Start-->
<section class="bannerw3l-hnyv">
    <div class="slider">
        <!-- slides -->
        <div class="slider__slides">
            <div class="slide s--active">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Verás    <br>lo mejor</h3>
                        <p class="slide__text">Los mejores productos del mercado</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Men's Fashion
                            60% Off</h3>
                        <p class="slide__text">Mid season 50% Offer</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Kid’s Fashion 70% Off</h3>
                        <p class="slide__text">Enjoy this Summer Trend</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Accessories 40% Off</h3>
                        <p class="slide__text">Mid season 50% Offer</p>
                    </div>
                </div>
            </div>
            <div class="slide s--prev">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Cosmetics 50% Off</h3>
                        <p class="slide__text">Enjoy this Summer Trend</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- slides end -->
        <div class="slider__control">
            <div class="slider__control-line"></div>
            <div class="slider__control-line"></div>
        </div>
        <div class="slider__control slider__control--right m--right">
            <div class="slider__control-line"></div>
            <div class="slider__control-line"></div>
        </div>
    </div>
    <div class="bannerw3l-layer"></div>
</section>
<!--//Banner-End-->
