<!--/Banner-inner-pages-->
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="#">Home</a></li>
          <li class="active"><span class="fas fa-chevron-right mx-2" aria-hidden="true"></span> Contact Us</li>
        </ul>
      </div>
    </section>
  </div>
<!--//Banner-inner-pages-->
 <!--/contact1-->
    <section class="w3l-contact-1 py-5" id="contact">
        <div class="contacts-9 py-lg-5 py-md-4">
            <div class="container">
                <div class="row contact-view">
                    <div class="col-lg-6 cont-details mb-lg-0 mb-5 pr-lg-5">
                        <h6 class="title-subw3hny">Get in touch</h6>
                        <h3 class="title-w3l mb-4">Contact <span class="thin">Us</span></h3>
                        <p class="mb-sm-5 mb-4">Start working with Us that can provide everything you need to generate awareness, drive traffic,
                            connect. <br> We guarantee that you’ll be able to have any issue resolved within 24 hours.</p>
                        <div class="cont-top">
                            <div class="cont-left text-center">
                                <span class="fas fa-phone-alt"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Phone number</h6>
                                <p><a href="tel:+(21) 255 999 8888">+(21) 255 999 8888</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fas fa-envelope-open-text"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Send Email</h6>
                                <p><a href="mailto:passionkraft&#64;mail.com" class="mail">passionKraft&#64;gmail.com</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fas fa-map-marked-alt"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Company Address</h6>
                                <p class="pr-lg-5">Address here, 208 Trainer Avenue street, Illinois, UK - 62617.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 map-content-9">
                        <h5 class="mb-sm-4 mb-3">Drop Us a Line</h5>
                        <form action="#" method="post">
                            <div class="twice-two">
                                <input type="text" class="form-control" name="Name" placeholder="Name"
                                    required="">
                                <input type="email" class="form-control" name="Email" placeholder="Email"
                                    required="">
                            </div>
                            <div class="twice">
                                <input type="text" class="form-control" name="Subject" 
                                    placeholder="Subject" required="">
                            </div>
                            <textarea name="Message" class="form-control" placeholder="Message"
                                required=""></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--/contact1-->
<!--//contact-block -->