<!--/social-media-->
<div class="social-w3l-media-sec">
    <div class="w3l-social-imf-left">
    </div>
    <div class="social-column-grids">
        <div class="w3l-social-gd">
            <a href=" #" target="_blank" class="facebook">
                <span class="fab fa-facebook-f mr-2"></span>
                <span class="social-text">Facebook</span>
            </a>
        </div>
        <div class="w3l-social-gd">
            <a href="#" target="_blank" class="twitter">
                <span class="fab fa-twitter mr-2"></span>
                <span class="social-text">Twitter</span>
            </a>
        </div>
        <div class="w3l-social-gd">
            <a href=" #" class="dribble">
                <span class="fab fa-dribbble mr-2"></span>
                <span class="social-text">Dribbble</span>
            </a>
        </div>
        <div class="w3l-social-gd">
            <a href=" #" target="_blank" class="instagram">
                <span class="fab fa-instagram mr-2"></span>
                <span class="social-text">Instagram</span>
            </a>
        </div>
      
    </div>
    <div class="w3l-social-button-right">
        <a href=" #" class="btn-explore">
            Explora Ahora
        </a>
    </div>
</div>
<!--//social-media-->
