    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0 pt-lg-0">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        {{ firstname }}<span class="logo-sub">{{ secondname }}</span></a>
                </h1>
                <!-- <a class="navbar-brand" href="#">
                    <img src="/assets/images/logo.png" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mx-lg-auto">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/home">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" href="#" routerLink="/about">Nosotros</a>
                        </li>   
                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Productos <span class="fa fa-angle-down"></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @for (categoria of categorias; track categorias) {
                                    <a class="dropdown-item" href="#" [routerLink]="['/services/',categoria.id]">{{ categoria.nombre }}</a>
                                }
                            </div>

                            <!-- <a class="nav-link" href="#">Products</a> -->
                        </li>
						<li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/contact">Contactanos</a>
                        </li>
                    </ul>
                    <!--/search-right-->
                    <div class="search-right">
                        <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                    </div>
                    <div class="search-right ml-0">
                        <a (click)="validateLogin()">
                            <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        </a>
                    </div>
                    @if (log) {
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item dropdown" routerLinkActive="active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-user" aria-hidden="true"></span>
                                </a>
    
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                     <a class="dropdown-item" (click)="logout()">Cerrar Sesion</a>
                                </div>
                            </li>
                        </ul>
                        
                    } @else {
                        <!--//search-right-->
                        <div class="top-quote mr-lg-3 mt-lg-0 mr-lg-4">
                            <a href="#" routerLink="/login" class="btn btn-style btn-white btn-primary">Iniciar Sesion</a>
                        </div>
                    }
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
