    <!--/video-->
    <section class="w3l-about4 py-5" id="cover">
		<div class="container px-0 py-lg-5 py-md-4 py-2">
			<div class="history-info position-relative">
				<div class="heading mx-auto text-center">
                    <h6 class="title-subw3hny text-center">Video</h6>
					<h3 class="title-w3l">Make people fall in love with your clothes.</h3>
					<p class="mt-3 px-lg-5 mx-lg-5">Lorem ipsum dolor sit amet consectetur adipisicing elit sunt in culpa qui officia
						sed deserunt mollit anim id est laborum mollit anim id est nulla.</p>
					<a href="#" class="popup-with-zoom-anim play-view text-center mt-4">
						<span class="video-play-icon">
							<span class="fa fa-play"></span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>
    <!--//video-->
