<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4 py-sm-3">
            <div class="row footer-top-29">
                <div class="col-lg-4 footer-list-29 footer-1 pr-lg-5">
                    <h2><a class="navbar-brand" href="index.html">
                            Villa<span class="logo-sub">Server</span></a></h2>
                    <p class="pr-lg-5 mr-xl-4 mb-4">Bienvenido a VillaSpeaker, tu tienda de confianza para experiencias
                        auditivas excepcionales.
                    </p>
                    <a href="contact.html" class="btn btn-style btn-primary mt-2">Contact Us</a>
                </div>
                <div class="col-lg-4 footer-list-29 footer-3 mt-lg-0 mt-5 pr-lg-5">
                    <h6 class="footer-title-29">Enlaces <span class="thinw3">Rapidos</span></h6>
                    <div class="footer-listw3-grids">
                        <ul class="footer-listw3">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de Nosotros</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Contactanos</a></li>

                        </ul>
                        <ul class="footer-listw3">
                            <li><a href="#privacidad">Política de Privacidad</a></li>
                            <li><a href="#terminos">Términos de Uso</a></li>
                            <li><a href="#ventas">Ventas y Devoluciones</a></li>
                            <li><a href="#preguntas">Preguntas Frecuentes</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Mantente <span class="thinw3">Conectado</span></h6>
                    <p>Recibe actualizaciones suscribiéndote a nuestro boletín semanal.</p>

                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Tu dirección de correo electrónico" required="">
                        <button><span class="fas fa-paper-plane"></span></button>
                    </form>
                    <div class="main-social-footer-29 mt-4">
                        <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                        <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                        <a href="#pinterest"><span class="fab fa-pinterest-p"></span></a>
                        <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
                        <a href="#google" class="google"><span class="fab fa-google-plus-g"></span></a>
                        <a href="#linkd" class="linkd"><span class="fab fa-linkedin-in"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom-copies text-center">
        <div class="container">
            <p class="copy-footer-29">© 2023 VillaSpeaker. Todos los derechos reservados | Diseñado por <a
                    href="https://w3layouts.com">VillaServer</a></p>
        </div>
    </div>

    <button (click)="topFunction()" id="movetop" title="Ir arriba">
        <span class="fa fa-angle-up"></span>
    </button>
</section>