 <!--/w3l-features-call3-->
 <section class="w3l-features py-5" id="work">
    <div class="call-w3 py-md-5 py-2">
        <div class="container">
            <div class="row main-cont-wthree-2">
                <div class="col-lg-6 feature-grid-left pl-lg-5">
                    <h6 class="title-subw3hny">More Info</h6>
                    <h3 class="title-w3l mb-md-4 mb-2">Who We <span class="thin">Work With</span></h3>
                    <p class="text-para pr-lg-5">Curabitur id gravida risus. Fusce eget ex fermentum, ultricies nisi ac sed,
                        lacinia est. Quisque ut lectus consequat, venenatis eros et, sed commodo risus. Nullam sit
                        amet laoreet elit. Suspendisse non init magnaa velit efficitur, dolor eget ex fermentum.
                    </p>
                    <a href="#url" class="btn btn-primary btn-style mt-lg-5 mt-4">Discover More</a>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <a href="#feature" class=""><img src="assets/images/flipkart.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <a href="#feature" class=""><img src="assets/images/disney.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <a href="#feature" class=""><img src="assets/images/amazon.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <a href="#feature" class=""><img src="assets/images/woocomerce.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-features-call3-->
