<section class="w3l-team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row team-row">
            <div class="col-lg-6 team-wrap-info pr-lg-5">
                <h6 class="title-subw3hny">Our Team</h6>
                <h3 class="title-w3l mb-md-4 mb-2">Meet the <span class="thin">Team </span></h3>
                <p class="text-para pr-lg-5">Curabitur id gravida risus. Fusce eget ex fermentum, ultricies nisi ac sed,
                    lacinia est. Quisque ut lectus consequat, venenatis eros et, sed commodo risus. Nullam sit
                    amet laoreet elit. Suspendisse non init magnaa velit efficitur, dolor eget ex fermentum.
                </p>
                <a href="#url" class="btn btn-primary btn-style mt-lg-5 mt-4">Join Us</a>
            </div>
         <!--start-team member -->
            <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 mt-5">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img src="assets/images/team3.jpg" alt="" class="img-fluid radius-image" />
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                    Our web design team will spend time with our digital marketing team.
                                </p>
                                <div class="socials mt-4">
                                    <a href="#url"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#url"><i class="fab fa-twitter"></i></a>
                                    <a href="#url"><i class="fab fa-instagram"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#team"><h6 class="team-title">Charlotte Ava</h6></a>
                    <p>CEO</p>
                </div>
            </div>
            <!-- end team member -->

            <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 mt-5">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img src="assets/images/team4.jpg" alt="" class="img-fluid radius-image" />
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                    Our web design team will spend time with our digital marketing team.
                                </p>
                                <div class="socials mt-4">
                                    <a href="#url"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#url"><i class="fab fa-twitter"></i></a>
                                    <a href="#url"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#team"><h6 class="team-title">Emma Susan</h6></a>
                    <p>Manager</p>
                </div>
            </div>
            <!-- end team member -->

        </div>
    </div>
</section>
